{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='main.js') }}" type="module"></script>
{% endblock %}

{% block body %}
{% if "user" not in session %}
<p id="guest-marker">Playing as a guest</p>
{% endif %}
<section id="join_form">
    <h1>Join game</h1>
    <form>
        {% if "player" in session %}
        <p>You are already in a session</p>
        {% endif %}
        <label for="game-map">Game map</label>
        <input id="game-map" name="game-map" type="text" value={{ g.get("gamemap", "default") }} required {{g.disabled}}/>
        <br />
        <label for="endurance">Endurance</label>
        <input id="endurance" name="endurance" type="number" value={{ g.get("endurance", 5) }} required {{g.disabled}}/>
        <br />
        <label for="perception">Perception</label>
        <input id="perception" name="perception" type="number" value={{ g.get("perception", 5) }} required {{g.disabled}}/>
        <br />
        <label for="agility">Agility</label>
        <input id="agility" name="agility" type="number" value={{ g.get("agility", 5) }} required {{g.disabled}}/>
        <br /Play>
        <input type="submit" value="Play"/>
    </form>
    <p id="error"></p>
</section>
<section id="game_area" hidden>
    <h1>Game</h1>
    <canvas width=512 height=512></canvas>
    <p>
        <a href="{{ url_for('end_session') }}">Quit game</a>
    </p>
</section>
{% endblock %}
